.global__input-error {
    padding: 12px !important;
    color: color($colors, danger) !important;  
}

.global__large_icon {
    font-size: 3.8rem !important;
}

.global__extra_padding_horizontal {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
